<div class="container">
<p><a href="/reset"><button>RESET</button></a></p>
<!-- This is bad!!! need to get this logic in the controller maybe? -->
<% Game.last.boards.all.each do |board| %>
<h2 class="centered"><%= board.owner.capitalize %> Board</h2>
<table>
  <% board.spaces.order('location').each do |space| %>
    <% if space.location % 10 == 1 %>
      <tr>
    <% end %>
      <% if space.ship_id %>
      <td><a class='space' data-hit='X' data-location='<%= space.location %>' data-board_id='<%= board.id %>' href="/shot/<%= space.location %>/<%= board.id %>"><%= space.display %></a></td>
      <% else %>
      <td><a class='space' data-hit='o' data-location='<%= space.location %>' data-board_id='<%= board.id %>' href="/shot/<%= space.location %>/<%= board.id %>"><%= space.display %></a></td>
      <% end %>
    <% if space.location % 10 == 0 %>
    </tr>
    <% end %>
  <% end %>
  </table>
  <br><br><br><br>
<% end %>
</div>


<h3 class="game-status"></h3>
<!-- This doesn't work without being refreshed! -->
<!-- <h3>
  <% Board.first.ships.each do |ship| %>
    <% if ship.hits == ship.length %>
     'You sank a ship'
    <% end %>
  <% end %>

</h3> -->



<!-- <div>
  <% Board.first.ships.order('id').each do |ship| %>
    <p>
      <%= ship.name %>
      <%= ship_hits(ship) %>
    </p>
  <% end %>
  <br><br>
  <% Board.last.ships.order('id').each do |ship| %>
  <p>
    <%= ship.name %>
    <%= ship.hits %>
  </p>
  <% end %>
</div> -->
